/target/
/lib/
/nbproject/
/main/fxml/com/newdawn/gui/economic/ColonyEconomicScreen.fxml.bak
/main/fxml/com/newdawn/gui/economic/EconomicScreen.fxml.bak
/main/fxml/com/newdawn/gui/MainScreen.fxml.bak
/main/fxml/com/newdawn/gui/personnel/PersonnelDetailsPane.fxml.bak
/main/fxml/com/newdawn/gui/personnel/PersonnelManagementScreen.fxml.bak
/main/fxml/com/newdawn/gui/personnel/TeamManagementScreen.fxml.bak
!/target/test-reports/
/.settings
/.project
/.classpath
/local.properties
/bin
